.navbar::before{
    content:"";
    width: 40rem;
    height: 40rem;
    left: 0rem;
    top: 0rem;
    display: block;
    position: absolute;
    background-image: url(../img/simple/abstract_Design.png);
}

.navbar {
  height: 9.5rem;
  background-color:var(--grey-11);
  border-radius: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.navbar_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  gap: 1rem;
  img {
    width: 5.5rem;
    height: 5.5rem;
  }
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--white-100);
  }
}

.navbar_menu .navbar_list {
  display: flex;
  gap: 2.6rem;
  margin-left: 3rem;
  li {
    border-radius: 4rem;
    color: var(--white-100);
    width: 10rem;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color: inherit;
    }
  }
}
.navbar_list .navbar_home{
    background-color:var(--grey-15);
}

.navbar_actions{
    display: flex;
    gap: 1rem;
    margin-right: 3.4rem;
    button{
        color:var(--white-100);
        color:var(--black-color);
        text-decoration: none;
        a{
          color: inherit;
        }
        
    }
}
.navbar_actions .btn_signup{
    background-color:var(--grey-11);
    color:var(--white-100);
}